#controls {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    gap: 5px;
}

.game {
    background-color: white;
    border: 2px solid var(--hungary-flag-red);
    border-radius: 10px;
    margin-top: 10px;
    font-size: 24px;
    display: grid;
    grid-template-columns: 100px 100px 100px 1fr 200px;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.game a {
    justify-self: right;
    font-family: bread;
    color: black;
}

.game a:hover {
    color: var(--hungary-flag-red);
}

.game div {
    height: 75px;
    width: 75px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    justify-self: center;
}

.game div img {
    height: 100%;
    width: 100%;
    padding: 10px;
    object-fit: contain;
}

.game .mvp {
    justify-self: center;
}

.game .score {
    justify-self: center;
}

main {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

#round1 {
    text-decoration: underline;
}

#round1:hover, #round2:hover, #round3:hover, #round4:hover, #round5:hover, #advanced:hover {
    cursor: pointer;
}

#round2-games, #round3-games, #round4-games, #round5-games {
    display: none;
}

#round-nav {
    display: flex;
    background-color: white;
    justify-content: space-around;
    font-size: 18px;
    border: 2px solid var(--hungary-flag-red);
    border-radius: 10px;
}